<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="welcome to superstring's blog" />
    <meta name="keywords" content="superstring, blog" />
    <base href="./" />

    <title>_TITLE_</title>
    <link rel="shortcut icon" href="assets/moon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="//unpkg.com/papercss@1.6.1/dist/paper.min.css"
    />
    <link rel="stylesheet" href="../../assets/css/article.css" />
  </head>
  <body>
    <article class="article">
      <h1 class="article-title">_TITLE_</h1>
      <h4>_SUBTITLE_</h4>
      <p class="article-meta">Written by _AUTHOR_ | _DATE_</p>
      <p>_CONTENT_</p>
    </article>
  </body>
</html>
