/* all */
body {
  width: 85vw;
  margin: 0 auto;
}

/* container style */
.blog {
  margin-top: 1rem;
}

.blog-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog-preview > div {
  width: 30%;
}

@media screen and (max-width: 35.5em) {
  .blog-preview > div {
    width: 100%;
    margin-top: 1em;
  }
}

.blog-preview a {
  background-image: none;
}

.more {
  padding: 0 1em;
}
